@charset "UTF-8";
.alarm a{
	padding-left : 20px;
}
.alarm.unchecked{
	background-color : rgb(212, 238, 255);
	transition : background-color 5000ms;
}
#alarmList{
	padding : 0;
}

#alarmDropdown{
	max-height : 400px;
	overflow-y : auto;
}
.alarmsender.profile{
	width : 45px;
	height : 45px;
}
#alarmHeader .btn{
	margin-top : -7px;
}

.boxsize{
	display: block;
	padding: 3px 20px;
}

.spanbox{
	padding: 3px 20px 3px 0px;
	/*위 오른쪽 아래 왼쪽*/
}

.alermA{
	display: inline-block;
	padding-right: 8px;
}

.alermLi{
	width: 100%;
	height: 40px;
	/* li 중앙에 배치하기 위한 속성들 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.alermLi button{
	margin-right: 13px;
}

a{
	text-decoration: none;
	color : black;
}

a:hover {
  text-decoration: none;
}
