.cpadding{
    margin: auto;
}


.card{
    width: 1100px;

    margin-top: 50px;
}

.wrap>h1{
    font-weight: bold;
}

.subtitle{
    display: flex;
    justify-content: space-between;
}

.subtitle>div>a{
    margin-right: 10px;
}

.userNo{
    padding-right: 40px;
    font-weight: 900;
}
.wrap{
    margin: 30px;
}

.totalWrap{
   display: flex;
   margin: auto;
   width: 1100px;
}

.zzimWrap{
    margin-top: 100px;
    margin-right: 20px;
    position: relative;
   
}

.zzimWrap>div{
 
}

.zzimWrap i{
    font-size: 3rem !important;
}

.zzimWrap span{
    padding-left: 15px;
}

.up{
    position: fixed;
    bottom: 100px;
    right: 140px;
}