.card{
    width: 1100px;
    margin: auto;
    margin-top: 50px;
}

.wrap>h1{
    font-weight: bold;
}

.subtitle{
    display: flex;
}

.userNo{
    padding-right: 40px;
    font-weight: 900;
}
.wrap{
    margin: 30px;
}

.zzimWrap{
    position: fixed;
    left: 500px;
}