<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personalprMapper">
<resultMap type="PersonalPr" id="psnPrBoardResultSet">
		<result column="PSN_PR_NO" property="psnPrNo"/>
		<result column="PSN_PR_STACK" property="psnPrStack"/>
		<result column="PSN_PR_CONTENT" property="psnPrContent"/>
		<result column="PSN_PR_AVLPRD" property="psnPrAvlPrd"/>
		<result column="PSN_PR_TITLE" property="psnPrTitle"/>
		<result column="PSN_PR_CONTACT" property="psnPrContact"/>
		<result column="user_no" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CATEGORY" property="category"/>
	</resultMap>



	<select id="selectListCount" resultType="_int">
			select
				 count(*)
			from PSN_PR_BOARD
	</select>
	
	<select id="selectPersonalPr" resultMap="psnPrBoardResultSet">
		select
			 PSN_PR_NO
			,PSN_PR_STACK
			,PSN_PR_CONTENT
			,PSN_PR_AVLPRD
			,PSN_PR_TITLE
			,PSN_PR_CONTACT
			,to_char(CREATE_DATE) AS "CREATE_DATE"
			,USER_NO
			,USER_NAME
			,CATEGORY
			FROM PSN_PR_BOARD
			JOIN TB_MEMBER USING (USER_NO)
			ORDER BY CREATE_DATE DESC
	</select>
	
	<insert id="insertPersonalPr">
		insert into psn_pr_board
			(psn_pr_no,PSN_PR_STACK,PSN_PR_CONTENT,PSN_PR_AVLPRD,PSN_PR_TITLE,PSN_PR_CONTACT,CREATE_DATE,USER_NO,CATEGORY)
			values (SEQ_PSN_PR.NEXTVAL, #{psnPrStack}, #{psnPrContent},#{psnPrAvlPrd}, #{psnPrTitle},#{psnPrContact},to_char(sysdate,'yy/MM/dd HH24:mi'),#{userNo},#{category} )
	</insert>
	
	
</mapper>	
